body {
    margin: 2em;
    max-width: 860px;
    font-family: "Cambay", serif;
}

h1 {
    text-align: center;
    color: #4F81BD;
}

h2 {
    color: #4F81BD;
}

#contact {
    text-align: center;
}
